body {
    margin: 0px;
    font-family: 'Lora', serif;
    line-height: 1.5;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #A0A0A0;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    padding-top: 24px;
}

a {
    color: #818181;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 24px;
    font-weight: 100;
    text-decoration: none;
   
    padding: 2px 6px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
}

a:hover {background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}

.banner {
    background-image: url(https://source.unsplash.com/random/800x600);
    padding: 140px 0px;
    background-size: cover;
}

.banner .container {
    text-align: left;
    color: white;
}

.banner p {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 28px;
    font-weight: 100;
}

.container {
    width: 1000px;
    margin: 50px auto;
    font-size: 1.1em;
} 

@media (max-width: 1200px) {
    .container {
        width: 1000px;
        margin: 50px auto;
        font-size: 1.1em;
    }  
}

@media (max-width: 992px) {
    .container {
        width: 792px;
        margin: 50px auto;
        font-size: 1.1em;
    }  
}

@media (max-width: 768px) {
    .container {
        width: 568px;
        margin: 50px auto;
        font-size: 1.1em;
    }  
}

@media (max-width: 576px) {
    .container {
        width: 376px;
        margin: 50px auto;
        font-size: 1.1em;
    }  
}